





/* .logo {
  border-radius: 50%;
}


header {
  background-color: purple;
  display: flex;
}

.NaturalHaven {
  display: flex;
}

.Mainmenu {
  display: flex;
 
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.home.jpg {
  background-image: url("home.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#mainpic { 
  width: 300px;
} */