
 .logo {
  border-radius: 50%;
}

h1 {
  padding: 25px
}

header {
  background-color: rgb(208, 81, 236);
  display: flex;
}

.NaturalHaven {
  display: flex;
}

.Mainmenu {
  display: flex;
 
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: url("home.jpg");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#mainpic { 
  width: 300px;
} 